

.buttonText {
    background-color: transparent;
    color: #1a76d2;
    border: none;
}
.buttonText:hover{
    background-color: #f6fafd;
}


.buttonContained {
    background-color: #1a76d2;
    color: white;
    border: none;
    border-radius: 3px;
}

.buttonOutlined {
    background-color: white;
    color: #1a76d2;
    border: 1px solid #1a76d2;
    border-radius: 3px;
}

.sizeSmall {
    height: 30px;
    width: 64px;
    padding: 4px 5px;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.sizeMedium {
    height: 25px;
    width: 60px;
    padding: 4px 5px;
}

.sizeLarge {
    height: 96px;
    width: 54px;
    padding: 5px 15px;
}




